:root {
    --color-primary:black;
    --color-secondary: #FFF9EB;
    --color-tertiary: #C4C4C4;
    --color-button: #fe652b;
    --color-button-hover: #e55720;
    --color-text: #444444;
    --color-white: #FFFFFF;
}

/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Animaci贸n de brillo met谩lico */
@keyframes metalGlow {
    0% {
        text-shadow: 
            2px 2px 10px rgba(255, 255, 255, 0.2),
            0 0 20px rgba(255, 255, 255, 0.5),
            0 0 30px rgba(255, 255, 255, 0.6),
            0 0 40px rgba(255, 255, 255, 0.7);
    }
    50% {
        text-shadow: 
            3px 3px 15px rgba(255, 255, 255, 0.4),
            0 0 30px rgba(255, 255, 255, 0.6),
            0 0 40px rgba(255, 255, 255, 0.7),
            0 0 60px rgba(255, 255, 255, 0.9);
    }
    100% {
        text-shadow: 
            2px 2px 10px rgba(255, 255, 255, 0.3),
            0 0 25px rgba(255, 255, 255, 0.5),
            0 0 35px rgba(255, 255, 255, 0.7),
            0 0 50px rgba(255, 255, 255, 0.8);
    }
}

/* Animaci贸n de las estrellas parpadeando */
@keyframes twinklingStars {
    0% { opacity: 0.3; }
    50% { opacity: 1; }
    100% { opacity: 0.3; }
}



@keyframes shine {
    0% { filter: brightness(1); }
    50% { filter: brightness(1.5); }
    100% { filter: brightness(1); }
}

/* Animaci贸n de ne贸n con menor intensidad y velocidad */
@keyframes neonGlow {
    0% {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #4B69FD, 0 0 20px #4B69FD, 0 0 30px #4B69FD, 0 0 40px #4B69FD;
    }
    50% {
        text-shadow: 0 0 10px #fff, 0 0 15px #4B69FD, 0 0 25px #4B69FD, 0 0 35px #4B69FD, 0 0 50px #4B69FD, 0 0 60px #4B69FD;
    }
    100% {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #4B69FD, 0 0 20px #4B69FD, 0 0 30px #4B69FD, 0 0 40px #4B69FD;
    }
}

/* Animaci贸n de luces psicod茅licas */
@keyframes neonGlow2 {
    0% { color: #ff00ff; text-shadow: 0 0 5px #ff00ff, 0 0 10px #ff00ff, 0 0 15px #ff00ff; }
    25% { color: #00ffff; text-shadow: 0 0 5px #00ffff, 0 0 10px #00ffff, 0 0 15px #00ffff; }
    50% { color: #ffea00; text-shadow: 0 0 5px #ffea00, 0 0 10px #ffea00, 0 0 15px #ffea00; }
    75% { color: #ff4500; text-shadow: 0 0 5px #ff4500, 0 0 10px #ff4500, 0 0 15px #ff4500; }
    100% { color: #00ff00; text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00, 0 0 15px #00ff00; }
}


@keyframes glow {
    0% { border-color: #ff0000; box-shadow: 0 0 10px #ff0000; }
    20% { border-color: #ff8000; box-shadow: 0 0 10px #ff8000; }
    40% { border-color: #ffff00; box-shadow: 0 0 10px #ffff00; }
    60% { border-color: #00ff00; box-shadow: 0 0 10px #00ff00; }
    80% { border-color: #0000ff; box-shadow: 0 0 10px #0000ff; }
    100% { border-color: #ff00ff; box-shadow: 0 0 10px #ff00ff; }
}


/* Crear una capa de estrellas con animaci贸n */
.stars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('./assets/stars.webp') repeat;
    background-size: 100px 100px;  /* Ajusta el tama帽o seg煤n tu preferencia */
    animation: twinklingStars 3s infinite alternate ease-in-out;
    opacity: 0.6;  /* Ajusta la opacidad para que no quede demasiado brillante */
    z-index: -1;  /* Asegura que el fondo est茅 detr谩s de los dem谩s elementos */
}




/* Fondo estrellado para el body */
body {
    height: 100vh;
    background: url("./assets/galaxy.avif") no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
  
}



.main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}



/* Banner */


/* Banner */
.header-banner {
    display: flex;
    flex-direction: column;    /* Coloca los elementos (frase e imagen) en columna */
    justify-content: flex-start; /* Alinea el contenido hacia la parte superior */
    align-items: center;       /* Alinea los elementos horizontalmente en el centro */
    height: 60vh;              /* Ajusta la altura del banner para no ocupar toda la pantalla */
    padding: 20px 0;           /* A帽ade espacio en la parte superior e inferior */
    position: relative;
    margin-bottom: 0px;
  
}



/* Imagen centrada encima de la frase */
.header-banner img {
    width: 250px;               /* Ajusta el tama帽o de la imagen */
    height: auto;               /* Mantiene la proporci贸n */
    margin-bottom: 0px;        /* A帽ade espacio entre la imagen y la parte inferior */
    margin-top: 20px;
    margin-bottom: 0px;
    margin-top:0px;
}


/* Secci贸n de entrada */
.input-section {
    flex: 80%;
    background-image: url('./assets/nightcity.png'); /* Reemplaza por la ruta de tu imagen */
    background-size: cover; /* Asegura que la imagen cubra toda la secci贸n */
    background-position: center; /* Centra la imagen dentro de la secci贸n */
    border: 1px solid #000;
    border-radius: 64px 64px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    margin-top: 0px;
}

/* T铆tulos */
/* Efecto met谩lico para el texto */
.main-title {
    font-size: 3rem;           /* Tama帽o grande para destacar */
    font-weight: bold;
    font-family: 'Merriweather', serif;
    text-align: center;        /* Alineaci贸n centrada */
    letter-spacing: 5px;       /* Espaciado entre letras */
    color: transparent;        /* Hacemos que el color del texto sea transparente */
    
    /* Fondo de gradiente met谩lico */
    background: linear-gradient(45deg, #d4d4d4, #b0b0b0, #999999, #8b8b8b);
    background-size: 400% 400%; /* Hace que el gradiente se mueva */
    
    -webkit-background-clip: text; /* Aplica el gradiente solo al texto */
    background-clip: text;

    /* Sombra met谩lica */
    text-shadow: 
        2px 2px 15px rgba(255, 255, 255, 0.2),
        0 0 20px rgba(255, 255, 255, 0.5),
        0 0 30px rgba(255, 255, 255, 0.6),
        0 0 40px rgba(255, 255, 255, 0.7);

    /* Animaci贸n del gradiente y las sombras */
    animation: metalGlow 3s ease-in-out infinite alternate;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase; /* Asegura que el texto sea todo en may煤sculas */
}

/* Estilo para el texto */
.section-title {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Merriweather', serif;
    animation: neonGlow 5s infinite alternate; /* Animaci贸n m谩s lenta (5s) */
    text-align: center;
    letter-spacing: 2px;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    display: inline;
}

/* Contenedores de entrada y bot贸n */
.input-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

.input-name {
    width: 100%;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 25px 0 0 25px;
    font-size: 16px;
}

.button-container {
    width: 300px;
    justify-content: center;
}

/* Estilos de entrada de texto */
.input-title {
    flex: 1;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #333;
    border-right: none;
    border-radius: 25px 0 0 25px;
    font-family: "Merriweather", serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Estilos de bot贸n */
button {
    padding: 15px 30px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    border: 2px solid #000;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.button-add {
    background-color: var(--color-tertiary);
    color: var(--color-text);
    border-radius: 0 25px 25px 0;
}

.button-add:hover {
    background-color: #a1a1a1;
}

/* Listas */

ul {
    list-style-type: none;  /* Quita los puntos de la lista */
    font-family: 'Comic Sans MS', sans-serif;  /* Fuente con estilo relajado */
    font-size: 15px;
    margin: 15px 0;
    padding: 0;
    text-align: center; /* Centrar todo el contenido de la lista */
}

/* Estilo para cada nombre dentro de la lista */
ul li {
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
    padding: 8px 15px; 
    background: rgba(0, 0, 0, 0.5); /* Fondo negro con transparencia */
    color: #8a5c8a; /* Color m谩s apagado */
    text-shadow: 0 0 3px rgba(138, 92, 138, 0.3), 0 0 6px rgba(138, 92, 138, 0.4), 0 0 9px rgba(138, 92, 138, 0.5);  
    animation: neonGlow2 8s infinite alternate ease-in-out;  /* Animaci贸n m谩s lenta */
}




.result-list {
    margin-top: 5px;
    color:aquamarine; /* Verde intenso */
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    background-color: black; /* Fondo negro */
    padding: 5px; /* Espacio alrededor del texto */
    border-radius: 10px; /* Bordes redondeados */
}



.button-draw {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Espacio entre el 铆cono y el texto */
    background-color: black;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px 20px;
    border: 4px solid;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    animation: glow 2s infinite linear;
    margin-top: 40px;
}



.button-draw:hover {
    transform: scale(1.1);
}

.button-draw img {
    margin-right: 40px;
}

.fixed {
    position: absolute;
    right: 0px; /* Mueve el bot贸n hacia la derecha */
    left: 70px;
    top: 60%; /* Lo posiciona en la mitad de la pantalla */
    transform: translateY(-50%); /* Ajusta la posici贸n para centrarlo bien */
}

.button-draw.fixed {
    position: fixed;
    right: auto;  /* Lo mueve a la derecha */
    transform: translateY(-50%);
    z-index: 1000;
}



.compact {
    max-height: 200px; /* Ajusta seg煤n el tama帽o de la lista */
    overflow-y: scroll; /* Siempre muestra la barra de desplazamiento */
    padding: 10px;
    padding-right: 150px; /* Deja espacio a la derecha para la barra */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    border-radius: 10px;
    display: block;
    position: relative;
   
}

/* Para navegadores basados en WebKit (Chrome, Edge, Safari) */
#listaAmigos.compact::-webkit-scrollbar {
    width: 12px; /* Grosor de la barra de desplazamiento */
    background-color: rgba(255, 255, 255, 0.3); /* Fondo de la barra */
  
}

/* Estilo del "thumb" de la barra (la parte que se mueve) */
#listaAmigos.compact::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #FF6347, #FFD700); /* Colores brillantes */
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(255, 105, 180, 0.8); /* Sombras brillantes */
}

/* Cuando el usuario pasa el mouse sobre la barra */
#listaAmigos.compact::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, #FF4500, #FF1493); /* Colores brillantes en hover */
    box-shadow: 0px 0px 20px rgba(255, 105, 180, 1);
}

/* Para Firefox, asegura que la barra de desplazamiento siempre est茅 visible */
#listaAmigos.compact {
    scrollbar-width: thin; /* Barra delgada */
    scrollbar-color: #FF6347 #000000; /* Color del thumb y fondo */
}




/* Contenedor del bot贸n de continuar */
.continuar-container {
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

/* Estilos para el bot贸n de continuar */
.button-continuar {
    background-color: var(--color-button);
    color: var(--color-white);
    font-size: 1em;
    padding: 10px 15px;
    border: 2px solid var(--color-button-hover);
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-bottom: 25px;
    margin-top: 0px;
}

.button-continuar:hover {
    background-color: var(--color-button-hover);
    transform: scale(1.05);
    margin-bottom: 25px;
    margin-top: 0px;
}

/* Bot贸n de reinicio permanente */
.button-reset {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: red;
    color: white;
    font-size: 1em;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.button-reset:hover {
    background-color: darkred;
}

.suggestion-box {
    position: fixed;
    bottom: 20px;
    left: 20px; /*  Cambiado de "right" a "left" */
    width: 200px;
    background: rgba(0, 0, 0, 0.8); /* Fondo oscuro semitransparente */
    color: white;
    padding: 15px;
    border-radius: 10px;
    font-size: 14px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.suggestion-box h3 {
    margin: 0;
    font-size: 16px;
    text-align: center;
}

.suggestion-box ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.suggestion-box li {
    padding: 5px 0;
    text-align: center;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.suggestion-box li:hover {
    color: #FFD700; /* Cambia el color al pasar el mouse (dorado) */
}